@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --navcolor: #5161ce;
  --primary-color: #0f1a8fd2;
  --hover-color: #b4bdee;
  --text-color: #fff;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
/*  --font-family: 'Arial', sans-serif;*/
/*  --font-family: 'Roboto', sans-serif;*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: aqua;
  position: relative;
  z-index: 1;
}

i {
    margin-right: 10px;
}

p{
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}