@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --navcolor: #5161ce;
  --primary-color: #0f1a8fd2;
  --hover-color: #b4bdee;
  --text-color: #fff;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
  --font-family: 'Arial', sans-serif;
  --font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: var(--font-family);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: aqua;
  position: relative;
  z-index: 1;
}

i {
    margin-right: 10px;
}

p{
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}

#content-container {
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10000;
}

#fireflies-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #010115;
  z-index: -1;
}

.firefly {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  animation: ease 200s alternate infinite, moveFirefly 10s infinite alternate, flash 200s infinite, fadeIn 2s ease-in;
}


@keyframes moveFirefly {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100px, -100px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {

  0%,
  30%,
  100% {
    opacity: 0.5;
    box-shadow: 0 0 0vw 0vw rgb(89, 78, 248);
  }

  3% {
    opacity: 1;
    box-shadow: 0 0 1vw 0.2vw rgb(34, 23, 133);
  }
}


#cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(rgba(101, 87, 180, 0.897), rgba(102, 89, 177, 0.521), transparent);
  filter: blur(30px);
  pointer-events: none;
  z-index: 0;
  transition: 0.15s ease;
}